<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Administration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppBootstrap.styles.css" asp-append-version="true" />
</head>
<body>
    <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
            <a asp-page="/Admins/Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Administration</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-page="/Admins/Items/Index">
                        <i class="bi bi-box-seam"></i>
                        Articles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-page="/Admins/Brands/Index">
                        <i class="bi bi-capsule"></i>
                        Marques
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a class="nav-link text-white" asp-page="/Index">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle" /></svg>
                        Retour au site
                    </a>
                </li>
            </ul>
        </div>
        <div class="m-4 body">
            @RenderBody()
        </div>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/color-mode.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>